[submodule "SitioWebCienciaDatos"]
	path = SitioWebCienciaDatos
	url = git@github.com:CienciaDatosUdea/SitioWebCienciaDatos.git
[submodule "001_SitioWebFundCienciaDatos"]
	path = 001_SitioWebFundCienciaDatos
	url = git@github.com:CienciaDatosUdea/001_SitioWebFundCienciaDatos.git
